<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <div class="logo">
      <!-- Logo Placeholder for Inlustration -->
      <h4 class="bg-transparent text-black mt" href="/">
         <img href="/" class="pic" src="./assets/logo-for-mike.png">
          Read-N-Review</h4>
    </div>

    <!-- Navbar Links -->
    <ul class="mr">
      <li><a class="bg-transparent" href="/">Home</a></li>
      <li><a class="bg-transparent" href="/calendar">Calendar</a></li>
    </ul>
  </div>
</nav>


<!-- Menu Icon -->
<div class="menuIcon">
  <span class="icon icon-bars"></span>
  <span class="icon icon-bars overlay"></span>
</div>


<div class="overlay-menu">
  <ul id="menu">
      <li><a href="#home">Home</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
</div>