body{
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1464278533981-50106e6176b1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ca5f9140f345647ac9bc4c1597a56404&auto=format&fit=crop&w=667&q=80');
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    z-index: -10;
}

#overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    background-image: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7857ea46fded9c0fcb5b65b9a20a41d9&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.loginbox{
    width: 320px;
    height: 360px;
    background-color: rgb(255, 230, 170);
    top: 50%;
    left: 50%;
    padding: 60px 30px;
    position: absolute;
    transform: translate(-50%,  -50%);
    box-sizing: border-box;
    border-radius: 3%;
    box-shadow: 8px 8px 50px white;

}
h1{
    color: black;
    margin: 0;
    padding: 0 0 0px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family:  'Playfair Display';
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 13px;
}
 
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="email"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #bdc3c7;
    outline: none;
    height: 30px;
    font-size: 16px;
    opacity: 1;
    color: black ;
    font-family:  'Playfair Display';
}


.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    font-family: 'Playfair Display';
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #666666;
    color: black;
    
}

.loginbox a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    opacity: 0.8;
}

.loginbox a:hover {
    color: #fff;
    opacity: 1;
}

#text-account {
    font-size: 14px;
    color: black;
    opacity: 0.4;
}

 #create-account hover {
    text-decoration: underline;
    font-weight: bold;
}
