<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <div class="logo">
      <!-- Logo Placeholder for Inlustration -->
      <h4 class="bg-transparent text-black mt" href="/">
        <img href="/" class="pic" src="./assets/logo-for-mike.png"> Read-N-Review
      </h4>
    </div>

    <!-- Navbar Links -->
    <ul class="mr-5">
      <li>
        <a class="bg-transparent" href="/">Home</a>
      </li>
      <li>
        <a class="bg-transparent" href="/forum">Forum</a>
      </li>
    </ul>
  </div>
</nav>