body{
  margin: 0;
  padding: 0;
  background: url('https://images.unsplash.com/photo-1464278533981-50106e6176b1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ca5f9140f345647ac9bc4c1597a56404&auto=format&fit=crop&w=667&q=80');
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  z-index: -10;
}

#overlay{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: url("https://slack-imgs.com/?c=1&url=https%3A%2F%2Fopelousaseunicepubliclibrarydotorg.files.wordpress.com%2F2015%2F07%2Fbook-background.jpg%3Fw%3D917");
  background-repeat: no-repeat;
  background-size: cover;
}

.loginbox{
  width: 550px;
  height: 360px;
  color: #000;
  top: 50%;
  left: 50%;
  padding: 60px 30px;
  position: absolute;
  transform: translate(-50%,  -50%);
  box-sizing: border-box;
  border-radius: 3%;
  box-shadow: 8px 8px 50px #000;
  background-color: white;
  opacity: 0.9;
}
h1{
  color: black;
  margin: 0;
  padding: 0 0 0px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 13px;
}

.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"], input[type="email"]{
  border: none;
  border-bottom: 1px solid #bdc3c7;
  background: black;
  outline: none;
  height: 30px;
  font-size: 16px;
  opacity: 1;
  color: black;
}


.loginbox input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: black;
  color: black;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #666666;
  color: black;
  
}

.loginbox a {
  font-size: 14px;
  text-decoration: none;
  color: black;
  opacity: 0.3;
}

.loginbox a:hover {
  color: #fff;
  opacity: 1;
}

#text-account {
  font-size: 14px;
  color: #fff;
  opacity: 0.4;
}

create-account hover {
  text-decoration: underline;
  font-weight: bold;
}

#box {
  background-color: white;
}

