<div id="overlay"></div>
    <div class="loginbox">
        <h1>Subscription</h1><br>
        <form>
            <input id="box" type="text" placeholder="Username"><br>
            <input id="box" type="email" placeholder="Email"><br>
            <input id="box" type="password" placeholder="Password"><br>
            <input id="box" type="password" placeholder="Re-enter Password"><br>
            <div class="col-md-5 text-center">
                <a class="btn btn-outline-dark" href="/sign-in" role="button">Sign Up</a>
                </div>
        </form>
    </div>