<div id="overlay"></div>
    <div class="loginbox">
        <h1>Subscription</h1><br>
        <form>
            <input id="box" type="text" placeholder="Username"><br>
            <input id="box" type="email" placeholder="Email"><br>
            <input id="box" type="password" placeholder="Password"><br>
            <input id="box" type="password" placeholder="Re-enter Password"><br>
            <button type="button" class="btn btn-success" href="./sign-in">Subscribe</button> 
        </form>
    </div>